@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    /* ----- Primary ----- */

    --orange: hsl(25, 97%, 53%);

    /* ----- Neutral ----- */

    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --mediumgrey: hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
}

body {
    background-color: var(--verydarkblue);
    font-size: 15px;
    text-align: center;
    font-family: 'Overpass';
}

.box {
    color: var(--lightgrey);
    background-color: var(--darkblue);
    border-radius: 20px;
    width: 300px;
    height: 310px;
    padding: 2em;
    margin: 100px 520px;
    text-align: left;
}

.star {
    background-color: hsl(215, 21%, 15%);
    padding: 1em;
    border-radius: 90px;
}

h1 {
    color: var(--white);
}

p {
    color:var(--lightgrey);
}

ul {
    list-style-type: none;
    background-color: var(--darkblue);
    color: var(--mediumgrey);
    display: flex;
    gap: 1.5rem;
    padding: 0;
}

li {
    background-color: hsl(215, 21%, 15%);
    width: 20px;
    height: 14px;
    padding: 1em;
    border-radius: 50px;
    text-align: center;
}

ul :hover {
    background-color: var(--orange);
    cursor: pointer;
}

input {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 100px;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    font-family: 'Overpass';
    border-style: none;
    font-weight: bold;
}

input:hover {
    background-color: var(--white);
    color: var(--orange);
}

.classification {
    color: var(--lightgrey);
    background-color: var(--darkblue);
    border-radius: 20px;
    width: 300px;
    height: 310px;
    padding: 3em;
    margin: 100px 520px;
}

.selected {
    background-color: hsl(215, 21%, 15%);
    color: var(--orange);
    padding: 10px 20px;
    border-radius: 20px;
    width: 180px;
    margin: 30px;
}

p2 {
    padding-top: 5px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl (327, 88%, 50%); 
}

