@import url(https://fonts.google.com/specimen/Overpass);

:root {
    /* ----- Primary ----- */

    --orange: hsl(25, 97%, 53%);

    /* ----- Neutral ----- */

    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --mediumgrey: hsl(216, 12%, 54%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: var(--verydarkblue);
    font-size: 15px;
    text-align: center;
    font-family: 'Overpass';
    display: block;
}

main {
    color: var(--lightgrey);
    background-color: var(--darkblue);
    border-radius: 20px;
    width: 300px;
    height: 310px;
    padding: 30px 10px 5px 10px;
    margin: 100px 520px;
}

h1 {
    color: var(--white);
    padding: 15px;
}

p {
    color:var(--lightgrey);
}

button {
    background-color: var(--darkblue);
    color: var(--mediumgrey);
    display: inline-block;  
    border-radius: 30px;
    margin: 10px; 
}

button :hover {
    background-color: var(--orange);
    cursor: pointer;
}

input {
    background-color: var(--orange);
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
}

input :hover {
    background-color: var(--white);
    color: var(--orange);
    
}

